@model Hospital.dll.Model.Appointment
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Appointment List</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr style="background-color: black; color: white;">
        <th>Patient Name</th>
        <th>Doctor Name</th>
        <th>Appointment Date </th>
        <th>Note</th>
      
    </tr>
    @foreach (var item in Model.Appointmentlist)
    {
        <tr>
            <td>@item.PatientId</td>
            <td>@item.DoctorId</td>
            <td>@item.AppointmentDate</td>
            <td>@item.Note</td>
           
        </tr>
    }
</table>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}