@model Hospital.dll.Model.Doctor

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Doctor List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr style="background-color: black; color: white;">
        <th>Doctor Id</th>
        <th>Doctor Name</th>
        <th>Profile</th>
        <th>Experience</th>
        <th>Qualification</th>
        <th>Department</th>
        <th>Contact</th>
        <th>Email</th>
        <th>Address</th>
        <th>Action</th>
    </tr>

    @foreach (var item in Model.Doctorlist)
    {
        <tr>
            <td>@item.DoctorId</td>
            <td>@item.DoctorName</td>
            <td>
                <img src="@item.DoctorImage" width="80" height="50" />
            </td>
            <td>@item.Experience</td>
            <td>@item.Qualification</td>
            <td>
                @item.DepartmentId
        </td>

        <td>@item.Contact</td>
        <td>@item.Email</td>
        <td>@item.Address</td>
        <td>
            <div style="display: flex; justify-content: flex-start;">
                <div style="border: 1px solid #ccc; margin-right: 5px; border-radius: 2px; background-color: lightblue; color: black; width: 30px">
                    @Html.ActionLink("Edit", "Edit", new { id = item.DoctorId })
                </div>
                <div style="border: 1px solid #ccc; margin-right: 5px; border-radius: 2px; background-color: lightgreen; color: black; width: 40px ">
                    @Html.ActionLink("Details", "Details", new { id = item.DoctorId })
                </div>
                <div style="border: 1px solid #ccc; margin-right: 5px; border-radius: 2px; background-color: lightcoral; color: black; width: 40px ">
                    @Html.ActionLink("Delete", "Delete", new { id = item.DoctorId })
                </div>
            </div>
        </td>
    </tr>
}
</table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}









